
<% content_for :title,"Ứng tuyển "  %>


<% content_for :description, "Ứng tuyển "  %>
<% content_for :keywords, "Ứng tuyển "  %>

<h1>Ứng tuyển cho vị trí <%=@vieclam.tencv%></h1>

<%= render 'form2', vieclam: @vieclam %>

