<% content_for :title,"Tạo Việc làm mới" %>


<% content_for :description, "Tạo Việc làm mới" %>
<% content_for :keywords, "Tạo Việc làm mới" %>

<h1>Tạo Việc làm mới"</h1>

<%= render 'form', vieclam: @vieclam %>

<%= link_to 'Back', vieclams_path %>
