<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Kính chào quý khách hàng thân mến</h1></br>
	<h1>Rất cảm ơn vì bạn đã sử dụng dịch vụ của công ty chúng tôi</h1></br>
	<h1>Bạn nhận được email này vì đã có ứng viên tìm thấy việc làm mà bạn đã dăng tuyển và ứng tuyển cho vị trí này</h1></br>
	<h1>Bạn có thể tải về File CV đính kèm để tuyển chọn hồ sơ</h1></br>
	<h1>Xin quý khách yên tâm vì chúng tôi có hệ thống bảo mật rất tốt nên các File đính kèm đều đã được kiểm tra kỹ</h1></br>
   
    
	
   
  </body>
</html>