
  
  
   

	
	
 <%if @tt=='Tat-ca-dia-diem'%>
<% content_for :title, "việc làm Tất cả địa điểm"%>
<% content_for :keywords, "việc làm Tất cả địa điểm"   %>
<% content_for :description, "việc làm Tất cả địa điểm"%>
 <%end%>
 <%if @tt=='Ha-Noi'%>
<% content_for :title, "việc làm Hà Nội"%>
<% content_for :keywords, "việc làm Hà Nội"   %>
<% content_for :description, "việc làm Hà Nội"%>
 <%end%>
 <%if @tt=='TP-Ho-Chi-Minh'%>
<% content_for :title, "việc làm TP Hồ Chí Minh"%>
<% content_for :keywords, "việc làm TP Hồ Chí Minh"   %>
<% content_for :description, "việc làm TP Hồ Chí Minh"%>
 <%end%>
 <%if @tt=='Da-Nang'%>
<% content_for :title, "việc làm Đà Nẵng"%>
<% content_for :keywords, "việc làm Đà Nẵng"   %>
<% content_for :description, "việc làm Đà Nẵng"%>
 <%end%>
 <%if @tt=='Can-Tho'%>
<% content_for :title, "việc làm Cần Thơ"%>
<% content_for :keywords, "việc làm Cần Thơ"   %>
<% content_for :description, "việc làm Cần Thơ"%>
 <%end%>
 <%if @tt=='Hai-Phong'%>
<% content_for :title, "việc làm Hải Phòng"%>
<% content_for :keywords, "việc làm Hải Phòng"   %>
<% content_for :description, "việc làm Hải Phòng"%>
 <%end%>
 
 
 <%if @tt=='Binh-Duong'%>
<% content_for :title, "việc làm Bình Dương"%>
<% content_for :keywords, "việc làm Bình Dương"   %>
<% content_for :description, "việc làm Bình Dương"%>
 <%end%>
 <%if @tt=='An-Giang'%>
<% content_for :title, "việc làm An Giang"%>
<% content_for :keywords, "việc làm An Giang"   %>
<% content_for :description, "việc làm An Giang"%>
 <%end%>
 <%if @tt=='Ba-Ria-Vung-Tau'%>
<% content_for :title, "việc làm Bà Rịa - Vũng Tàu"%>
<% content_for :keywords, "việc làm Bà Rịa - Vũng Tàu"   %>
<% content_for :description, "việc làm Bà Rịa - Vũng Tàu"%>
 <%end%>
 <%if @tt=='Bac-Giang'%>
<% content_for :title, "việc làm Bắc Giang"%>
<% content_for :keywords, "việc làm Bắc Giang"   %>
<% content_for :description, "việc làm Bắc Giang"%>
 <%end%>
 <%if @tt=='Bac-Kan'%>
<% content_for :title, "việc làm Bắc Kạn"%>
<% content_for :keywords, "việc làm Bắc Kạn"   %>
<% content_for :description, "việc làm Bắc Kạn"%>
 <%end%>
 <%if @tt=='Bac-Ninh'%>
<% content_for :title, "việc làm Bắc Ninh"%>
<% content_for :keywords, "việc làm Bắc Ninh"   %>
<% content_for :description, "việc làm Bắc Ninh"%>
 <%end%>
 <%if @tt=='Bac-Lieu'%>
<% content_for :title, "việc làm Bạc Liêu"%>
<% content_for :keywords, "việc làm Bạc Liêu"   %>
<% content_for :description, "việc làm Bạc Liêu"%>
 <%end%>
 <%if @tt=='Ben-Tre'%>
<% content_for :title, "việc làm Bến Tre"%>
<% content_for :keywords, "việc làm Bến Tre"   %>
<% content_for :description, "việc làm Bến Tre"%>
 <%end%>
 <%if @tt=='Binh-Dinh'%>
<% content_for :title, "việc làm Bình Định"%>
<% content_for :keywords, "việc làm Bình Định"   %>
<% content_for :description, "việc làm Bình Định"%>
 <%end%>
 <%if @tt=='Binh-Phuoc'%>
<% content_for :title, "việc làm Bình Phước"%>
<% content_for :keywords, "việc làm Bình Phước"   %>
<% content_for :description, "việc làm Bình Phước"%>

 <%end%>
 <%if @tt=='Binh-Thuan'%>
<% content_for :title, "việc làm Bình Thuận"%>
<% content_for :keywords, "việc làm Bình Thuận"   %>
<% content_for :description, "việc làm Bình Thuận"%>
 <%end%>
 <%if @tt=='Ca-Mau'%>
<% content_for :title, "việc làm Cà Mau"%>
<% content_for :keywords, "việc làm Cà Mau"   %>
<% content_for :description, "việc làm Cà Mau"%>
 <%end%>
 <%if @tt=='Cao-Bang'%>
<% content_for :title, "việc làm Cao Bằng"%>
<% content_for :keywords, "việc làm Cao Bằng"   %>
<% content_for :description, "việc làm Cao Bằng"%>
 <%end%>
 <%if @tt=='Dak-Lak'%>
<% content_for :title, "việc làm Đắk Lắk"%>
<% content_for :keywords, "việc làm Đắk Lắk"   %>
<% content_for :description, "việc làm Đắk Lắk"%>
 <%end%>
 <%if @tt=='Dak-Nong'%>
<% content_for :title, "việc làm Đắk Nông"%>
<% content_for :keywords, "việc làm Đắk Nông"   %>
<% content_for :description, "việc làm Đắk Nông"%>
 <%end%>
 <%if @tt=='Dien-Bien'%>
<% content_for :title, "việc làm Điện Biên"%>
<% content_for :keywords, "việc làm Điện Biên"   %>
<% content_for :description, "việc làm Điện Biên"%>
 <%end%>
 <%if @tt=='Dong-Nai'%>
<% content_for :title, "việc làm Đồng Nai"%>
<% content_for :keywords, "việc làm Đồng Nai"   %>
<% content_for :description, "việc làm Đồng Nai"%>
 <%end%>
 <%if @tt=='Dong-Thap'%>
<% content_for :title, "việc làm Đồng Tháp"%>
<% content_for :keywords, "việc làm Đồng Tháp"   %>
<% content_for :description, "việc làm Đồng Tháp"%>
 <%end%>
 <%if @tt=='Gia-Lai'%>
<% content_for :title, "việc làm Gia Lai"%>
<% content_for :keywords, "việc làm Gia Lai"   %>
<% content_for :description, "việc làm Gia Lai"%>
 <%end%>
 <%if @tt=='Ha-Giang'%>
<% content_for :title, "việc làm Hà Giang"%>
<% content_for :keywords, "việc làm Hà Giang"   %>
<% content_for :description, "việc làm Hà Giang"%>
 <%end%>
 <%if @tt=='Ha-Nam'%>
<% content_for :title, "việc làm Hà Nam"%>
<% content_for :keywords, "việc làm Hà Nam"   %>
<% content_for :description, "việc làm Hà Nam"%>
 <%end%>
 <%if @tt=='Hai-Duong'%>
<% content_for :title, "việc làm Hải Dương"%>
<% content_for :keywords, "việc làm Hải Dương"   %>
<% content_for :description, "việc làm Hải Dươngm"%>
 <%end%>
 <%if @tt=='Hau-Giang'%>
<% content_for :title, "việc làm Hậu Giang"%>
<% content_for :keywords, "việc làm Hậu Giang"   %>
<% content_for :description, "việc làm Hậu Giang"%>
 <%end%>
 <%if @tt=='Hoa-Binh'%>
<% content_for :title, "việc làm Hòa Bình"%>
<% content_for :keywords, "việc làm Hòa Bình"   %>
<% content_for :description, "việc làm Hòa Bình"%>
 <%end%>
 <%if @tt=='Hung-Yen'%>
<% content_for :title, "việc làm Hưng Yên"%>
<% content_for :keywords, "việc làm Hưng Yên"   %>
<% content_for :description, "việc làm Hưng Yên"%>
 <%end%>
 <%if @tt=='Khanh-Hoa'%>
<% content_for :title, "việc làm Khánh Hòa"%>
<% content_for :keywords, "việc làm Khánh Hòa"   %>
<% content_for :description, "việc làm Khánh Hòa"%>
 <%end%>
 <%if @tt=='Kien-Giang'%>
<% content_for :title, "việc làm Kiên Giang"%>
<% content_for :keywords, "việc làm Kiên Giang"   %>
<% content_for :description, "việc làm Kiên Giang"%>
 <%end%>
 <%if @tt=='Kon-Tum'%>
<% content_for :title, "việc làm Kon Tum"%>
<% content_for :keywords, "việc làm Kon Tum"   %>
<% content_for :description, "việc làm Kon Tum"%>
 <%end%>
 <%if @tt=='Lai-Chau'%>
<% content_for :title, "việc làm Lai Châu"%>
<% content_for :keywords, "việc làm Lai Châu"   %>
<% content_for :description, "việc làm Lai Châu"%>
 <%end%>
 <%if @tt=='Lam-Dong'%>
<% content_for :title, "việc làm Lâm Đồng"%>
<% content_for :keywords, "việc làm Lâm Đồng"   %>
<% content_for :description, "việc làm Lâm Đồng"%>
 <%end%>
 <%if @tt=='Lang-Son'%>
<% content_for :title, "việc làm Lạng Sơn"%>
<% content_for :keywords, "việc làm Lạng Sơn"   %>
<% content_for :description, "việc làm Lạng Sơn"%>
 <%end%>
 <%if @tt=='Lao-Cai'%>
<% content_for :title, "việc làm Lào Cai"%>
<% content_for :keywords, "việc làm Lào Cai"   %>
<% content_for :description, "việc làm Lào Cai"%>
 <%end%>
 <%if @tt=='Long-An'%>
<% content_for :title, "việc làm Long An"%>
<% content_for :keywords, "việc làm Long An"   %>
<% content_for :description, "việc làm Long An"%>
 <%end%>
 <%if @tt=='Nam-Dinh'%>
<% content_for :title, "việc làm Long An"%>
<% content_for :keywords, "việc làm Long An"   %>
<% content_for :description, "việc làm Long An"%>
 <%end%>
 <%if @tt=='Nghe-An'%>
<% content_for :title, "việc làm Nghệ An"%>
<% content_for :keywords, "việc làm Nghệ An"   %>
<% content_for :description, "việc làm Nghệ An"%>
 <%end%>
 <%if @tt=='Ninh-Binh'%>
<% content_for :title, "việc làm Ninh Bình"%>
<% content_for :keywords, "việc làm Ninh Bình"   %>
<% content_for :description, "việc làm Ninh Bình"%>
 <%end%>
 <%if @tt=='Ninh-Thuan'%>
<% content_for :title, "việc làm Ninh Thuận"%>
<% content_for :keywords, "việc làm Ninh Thuận"   %>
<% content_for :description, "việc làm Ninh Thuận"%>
 <%end%>
 <%if @tt=='Phu-Tho'%>
<% content_for :title, "việc làm Phú Thọ"%>
<% content_for :keywords, "việc làm Phú Thọ"   %>
<% content_for :description, "việc làm Phú Thọ"%>
 <%end%>
 <%if @tt=='Quang-Binh'%>
<% content_for :title, "việc làm Quảng Bình"%>
<% content_for :keywords, "việc làm Quảng Bình"   %>
<% content_for :description, "việc làm Quảng Bình"%>
 <%end%>
 <%if @tt=='Quang-Nam'%>
<% content_for :title, "việc làm Quảng Nam"%>
<% content_for :keywords, "việc làm Quảng Nam"   %>
<% content_for :description, "việc làm Quảng Nam"%>
 <%end%>
 <%if @tt=='Quang-Ngai'%>
<% content_for :title, "việc làm Quảng Ngãi"%>
<% content_for :keywords, "việc làm Quảng Ngãi"   %>
<% content_for :description, "việc làm Quảng Ngãi"%>
 <%end%>
 <%if @tt=='Quang-Ninh'%>
<% content_for :title, "việc làm Quảng Ninh"%>
<% content_for :keywords, "việc làm Quảng Ninh"   %>
<% content_for :description, "việc làm Quảng Ninh"%>
 <%end%>
 <%if @tt=='Quang-Tri'%>
<% content_for :title, "việc làm Quảng Trị"%>
<% content_for :keywords, "việc làm Quảng Trị"   %>
<% content_for :description, "việc làm Quảng Trị"%>
 <%end%>
 <%if @tt=='Soc-Trang'%>
<% content_for :title, "việc làm Sóc Trăng"%>
<% content_for :keywords, "việc làm Sóc Trăng"   %>
<% content_for :description, "việc làm Sóc Trăng"%>
 <%end%>
 <%if @tt=='Son-La'%>
<% content_for :title, "việc làm Sơn La"%>
<% content_for :keywords, "việc làm Sơn La"   %>
<% content_for :description, "việc làm Sơn La"%>
 <%end%>
 <%if @tt=='Tay-Ninh'%>
<% content_for :title, "việc làm Tây Ninh"%>
<% content_for :keywords, "việc làm Tây Ninh"   %>
<% content_for :description, "việc làm Tây Ninh"%>
 <%end%>
 <%if @tt=='Thai-Binh'%>
<% content_for :title, "việc làm Thái Bình"%>
<% content_for :keywords, "việc làm Thái Bình"   %>
<% content_for :description, "việc làm Thái Bình"%>
 <%end%>
 <%if @tt=='Thái Nguyên'%>
<% content_for :title, "việc làm Thái Nguyên"%>
<% content_for :keywords, "việc làm Thái Nguyên"   %>
<% content_for :description, "việc làm Thái Nguyên"%>
 <%end%>
 <%if @tt=='Thanh Hóa'%>
<% content_for :title, "việc làm Thanh Hóa"%>
<% content_for :keywords, "việc làm Thanh Hóa"   %>
<% content_for :description, "việc làm Thanh Hóa"%>
 <%end%>
 <%if @tt=='Thua-Thien-Hue'%>
<% content_for :title, "việc làm Thừa Thiên Huế"%>
<% content_for :keywords, "việc làm Thừa Thiên Huế"   %>
<% content_for :description, "việc làm Thừa Thiên Huế"%>
 <%end%>
 <%if @tt=='Tien-Giang'%>
<% content_for :title, "việc làm Tiền Giang"%>
<% content_for :keywords, "việc làm Tiền Giang"   %>
<% content_for :description, "việc làm Tiền Giang"%>
 <%end%>
 <%if @tt=='Tra-Vinh'%>
<% content_for :title, "việc làm Trà Vinh"%>
<% content_for :keywords, "việc làm Trà Vinh"   %>
<% content_for :description, "việc làm Trà Vinh"%>
 <%end%>
 <%if @tt=='Tuyen-Quang'%>
<% content_for :title, "việc làm Tuyên Quang"%>
<% content_for :keywords, "việc làm Tuyên Quang"   %>
<% content_for :description, "việc làm Tuyên Quang"%>
 <%end%>
 <%if @tt=='Vinh-Long'%>
<% content_for :title, "việc làm Vĩnh Long"%>
<% content_for :keywords, "việc làm Vĩnh Long"   %>
<% content_for :description, "việc làm Vĩnh Long"%>
 <%end%>
 <%if @tt=='Vinh-Phuc'%>
<% content_for :title, "việc làm Vĩnh Phúc"%>
<% content_for :keywords, "việc làm Vĩnh Phúc"   %>
<% content_for :description, "việc làm Vĩnh Phúc"%>
 <%end%>
 <%if @tt=='Yen-Bai'%>
<% content_for :title, "việc làm Yên Bái"%>
<% content_for :keywords, "việc làm Yên Bái"   %>
<% content_for :description, "việc làm Yên Bái"%>
 <%end%>
 <%if @tt=='Phu-Yen'%>
<% content_for :title, "việc làm Phú Yên"%>
<% content_for :keywords, "việc làm Phú Yên"   %>
<% content_for :description, "việc làm Phú Yên"%>
 <%end%>
 
 
 
	
	
	

	
	
		
   
 
 <style>
   hr {
       border-top: 1px dotted #000000 !important;
       margin-bottom:5px !important; 
       margin-top:5px !important;
   }
   .div2{
   width: auto !important; 
   }
</style>
<div class="div2">
 

<b><p>VIỆC LÀM TÌM THẤY</p></b>


 
<% @vieclams.each do |vieclam|%>
 
<%=link_to vieclam.tencv, 'http://vieclamvanphong.com/viec-lam/'+vieclam.diadiemurl.to_s+'/'+vieclam.slug.to_s ,target: :_blank%></br>
<%if vieclam.idnhatuyendung=='1'%>
<%=link_to vieclam.congty, 'http://vieclamvanphong.com/home/'+vieclam.id.to_s+'/'+vieclam.tencongtyurl.to_s, target: :_blank, style: 'color:#FF6600;'%>  <hr>
<%else%>
<%=link_to vieclam.congty, 'http://vieclamvanphong.com/thong-tin-nha-tuyen-dung/'+vieclam.idnhatuyendung.to_s+'/'+vieclam.tencongtyurl.to_s, target: :_blank,style: 'color:#FF6600;'%>
    <hr>
  <% end %>


<% end %>
<%= will_paginate @vieclams, renderer: BootstrapPagination::Rails %>
</div>