
 
  
   
  <%if @ttt=='Tat-ca-nghanh-nghe'%>
 <% content_for :title, "việc làm Tất cả nghành nghề"%>
 <%end%>
  <%if @ttt=='An-toan-PCCC'%>
  <% content_for :title, "việc làm An toàn PCCC"%>
 <%end%>
  <%if @ttt=='Bao-hiem'%>
  <% content_for :title, "việc làm Bảo hiểm"%>
 <%end%>
  <%if @ttt=='Ban-hang'%>
  <% content_for :title, "việc làm Bán hàng "%>
 <%end%>
  <%if @ttt=='Dieu-hanh-Quan-ly'%>
 <% content_for :title, "việc làm Điều hành - Quản lý"%>
 <%end%>
  <%if @ttt=='Bao-chi'%>
  <% content_for :title, "việc làm Báo chí"%>
 <%end%>
  <%if @ttt=='Bao-ve'%>
  <% content_for :title, "việc làm Bảo vệ"%>
 <%end%>
  <%if @ttt=='Bat-đong-san'%>
  <% content_for :title, "việc làm Bất động sản"%>
 <%end%>
  <%if @ttt=='Bien-phien-dich'%>
  <% content_for :title, "việc làm Biên phiên dịch"%>
 <%end%>

  <%if @ttt=='Chung-khoan'%>
  <% content_for :title, "việc làm Chứng khoán"%>
 <%end%>
 
  <%if @ttt=='Co-khi'%>
  <% content_for :title, "việc làm Cơ khí"%>
 <%end%>
  <%if @ttt=='Cong-nghe-cao'%>
  <% content_for :title, "việc làm Công nghệ cao"%>
 <%end%>
  <%if @ttt=='Cong-nghe-sinh-hoc'%>
 <% content_for :title, "việc làm Công nghệ sinh học"%>
 <%end%>
  <%if @ttt=='Cham-soc-suc-khoe'%>
 <% content_for :title, "việc làm Chăm sóc sức khỏe"%>
 <%end%>
  <%if @ttt=='Dau-khi'%>
 <% content_for :title, "việc làm Dầu khí"%>
 <%end%>
  <%if @ttt=='Det-may'%>
  <% content_for :title, "việc làm Dệt may"%>
 <%end%>
  <%if @ttt=='Da-giay'%>
 <% content_for :title, "việc làm Da giày"%>
 <%end%>
  <%if @ttt=='Duoc-Pham'%>
 <% content_for :title, "việc làm Dược Phẩm"%>
 <%end%>
  <%if @ttt=='Dich-vụ-khach-hang'%>
 <% content_for :title, "việc làm Dịch vụ khách hàng"%>
 <%end%>
  <%if @ttt=='Du-an'%>
 <% content_for :title, "việc làm Dự án"%>
 <%end%>
  <%if @ttt=='Du-lich'%>
  <% content_for :title, "việc làm Du lịch"%>
 <%end%>
  <%if @ttt=='Dien-Dien-tu'%>
 <% content_for :title, "việc làm Điện-Điện tử"%>
 <%end%> <%if @ttt=='Dao-tao-Giao-duc'%>
  <% content_for :title, "việc làm Đào tạo - Giáo dục"%>
 <%end%>
  <%if @ttt=='Hanh-chinh'%>
 <% content_for :title, "việc làm Hành chính"%>
 <%end%>
 
  <%if @ttt=='Khach-san'%>
 <% content_for :title, "việc làm Khách sạn"%>
 <%end%>
  <%if @ttt=='Hoa-hoc-Hoa-sinh'%>
  <% content_for :title, "việc làm Hóa học-Hóa sinh"%>
 <%end%>
  <%if @ttt=='Kho-van'%>
 <% content_for :title, "việc làm Kho vận"%>
 <%end%>
  <%if @ttt=='Kien-truc'%>
 <% content_for :title, "việc làm Kiến trúc"%>
 <%end%>
  <%if @ttt=='Kinh-doanh'%>
 <% content_for :title, "việc làm Kinh doanh"%>
 <%end%>
  <%if @ttt=='Ke-toan'%>
 <% content_for :title, "việc làm Kế toán"%>
 <%end%>
  <%if @ttt=='Kiem-toan'%>
 <% content_for :title, "việc làm Kiểm toán"%>
 <%end%>
  <%if @ttt=='Giao-nhan'%>
<% content_for :title, "việc làm Giao nhận"%>
 <%end%> <%if @ttt=='Marketing'%>
<% content_for :title, "việc làm Marketing"%>
 <%end%>
  <%if @ttt=='Moi-truong'%>
<% content_for :title, "việc làm Môi trường"%>
 <%end%>
  <%if @ttt=='My-thuat'%>
<% content_for :title, "việc làm Mỹ thuật"%>
 <%end%>
  <%if @ttt=='Ngan-hang'%>
<% content_for :title, "việc làm Ngân hàng"%>
 <%end%>
  <%if @ttt=='Nong-nghiep'%>
<% content_for :title, "việc làm Nông nghiệp"%>
 <%end%>
  <%if @ttt=='Nhan-su'%>
<% content_for :title, "việc làm Nhân sự"%>
 <%end%>
  <%if @ttt=='Luat-su'%>
<% content_for :title, "việc làm Luật sư "%>
 <%end%>
  <%if @ttt=='Hang-khong'%>
<% content_for :title, "việc làm Hàng không"%>
 <%end%>
  <%if @ttt=='Lao-dong-pho-thong'%>
<% content_for :title, "việc làm Lao động phổ thông"%>
 <%end%>
  <%if @ttt=='Lam-nghiep'%>
<% content_for :title, "việc làm Lâm nghiệp"%>
 <%end%>
  <%if @ttt=='Lai-xe'%>
<% content_for :title, "việc làm Lái xe"%>
 <%end%>
  <%if @ttt=='Internet-Online-Media'%>
<% content_for :title, "việc làm Internet Online Media"%>
 <%end%>
  <%if @ttt=='IT-Phan-mem'%>
<% content_for :title, "việc làm IT - Phần mềm"%>
 <%end%>
  <%if @ttt=='IT-Phan-cung-Mang'%>
<% content_for :title, "việc làm IT-Phần cứng-Mạng"%>
 <%end%>
  <%if @ttt=='O-to'%>
<% content_for :title, "việc làm Ô tô"%>
 <%end%>
  <%if @ttt=='San-Xuat-Vat-tu'%>
<% content_for :title, "việc làm Sản Xuất Vật Tư"%>
 <%end%>
  <%if @ttt=='Quang-cao'%>
<% content_for :title, "việc làm Quảng cáo"%>
 <%end%>
  <%if @ttt=='QA-QC'%>
<% content_for :title, "việc làm QA-QC"%>
 <%end%>
  <%if @ttt=='Thiet-ke'%>
<% content_for :title, "việc làm Thiết kế"%>
 <%end%>
  <%if @ttt=='Tu-van'%>
<% content_for :title, "việc làm Tư vấn"%>
 <%end%>
  <%if @ttt=='Thu-ky'%>
<% content_for :title, "việc làm Thư ký"%>
 <%end%>
  <%if @ttt=='Tai-chinh'%>
<% content_for :title, "việc làm Tài chính"%>
 <%end%>
  <%if @ttt=='Đau-tu'%>
<% content_for :title, "việc làm Đầu tư"%>
 <%end%>
  <%if @ttt=='Truyen-thong'%>
 <% content_for :title, "việc làm Truyền thông"%>
 <%end%>
  <%if @ttt=='Chung-khoan'%>
 <% content_for :title, "việc làm Chứng khoán"%>
 <%end%>

 <%if @ttt=='Tap-vu'%>
<% content_for :title, "việc làm Tạp vụ"%>
 <%end%>
 <%if @ttt=='Vien-Thong'%>
<% content_for :title, "việc làm Viễn Thông"%>
 <%end%>
 <%if @ttt=='Van-chuyen'%>
<% content_for :title, "việc làm Vận chuyển"%>
 <%end%>
 <%if @ttt=='-Xay-dung'%>
<% content_for :title, "việc làm Xây dựng"%>
 <%end%>
 <%if @ttt=='Xuat-nhap-khau'%>
<% content_for :title, "việc làm Xuất nhập khẩu"%>
 <%end%>
 <%if @ttt=='Y-te'%>
<% content_for :title, "việc làm Y tế"%>
 <%end%>
 
 <%if @ttt=='Khac'%>
<% content_for :title, "việc làm Khác"%>
 <%end%>

 
 
 
 
 
 
 

	 <%if @ttt=='Tat-ca-nghanh-nghe'%>
 <% content_for :description, "việc làm Tất cả nghành nghề"%>
 <%end%>
  <%if @ttt=='An-toan-PCCC'%>
  <% content_for :description, "việc làm An toàn PCCC"%>
 <%end%>
  <%if @ttt=='Bao-hiem'%>
  <% content_for :description, "việc làm Bảo hiểm"%>
 <%end%>
  <%if @ttt=='Ban-hang'%>
  <% content_for :description, "việc làm Bán hàng "%>
 <%end%>
  <%if @ttt=='Dieu-hanh-Quan-ly'%>
 <% content_for :description, "việc làm Điều hành - Quản lý"%>
 <%end%>
  <%if @ttt=='Bao-chi'%>
  <% content_for :description, "việc làm Báo chí"%>
 <%end%>
  <%if @ttt=='Bao-ve'%>
  <% content_for :description, "việc làm Bảo vệ"%>
 <%end%>
  <%if @ttt=='Bat-đong-san'%>
  <% content_for :description, "việc làm Bất động sản"%>
 <%end%>
  <%if @ttt=='Bien-phien-dich'%>
  <% content_for :description, "việc làm Biên phiên dịch"%>
 <%end%>

  <%if @ttt=='Chung-khoan'%>
  <% content_for :description, "việc làm Chứng khoán"%>
 <%end%>
 
  <%if @ttt=='Co-khi'%>
  <% content_for :description, "việc làm Cơ khí"%>
 <%end%>
  <%if @ttt=='Cong-nghe-cao'%>
  <% content_for :description, "việc làm Công nghệ cao"%>
 <%end%>
  <%if @ttt=='Cong-nghe-sinh-hoc'%>
 <% content_for :description, "việc làm Công nghệ sinh học"%>
 <%end%>
  <%if @ttt=='Cham-soc-suc-khoe'%>
 <% content_for :description, "việc làm Chăm sóc sức khỏe"%>
 <%end%>
  <%if @ttt=='Dau-khi'%>
 <% content_for :description, "việc làm Dầu khí"%>
 <%end%>
  <%if @ttt=='Det-may'%>
  <% content_for :description, "việc làm Dệt may"%>
 <%end%>
  <%if @ttt=='Da-giay'%>
 <% content_for :description, "việc làm Da giày"%>
 <%end%>
  <%if @ttt=='Duoc-Pham'%>
 <% content_for :description, "việc làm Dược Phẩm"%>
 <%end%>
  <%if @ttt=='Dich-vụ-khach-hang'%>
 <% content_for :description, "việc làm Dịch vụ khách hàng"%>
 <%end%>
  <%if @ttt=='Du-an'%>
 <% content_for :description, "việc làm Dự án"%>
 <%end%>
  <%if @ttt=='Du-lich'%>
  <% content_for :description, "việc làm Du lịch"%>
 <%end%>
  <%if @ttt=='Dien-Dien-tu'%>
 <% content_for :description, "việc làm Điện-Điện tử"%>
 <%end%> <%if @ttt=='Dao-tao-Giao-duc'%>
  <% content_for :description, "việc làm Đào tạo - Giáo dục"%>
 <%end%>
  <%if @ttt=='Hanh-chinh'%>
 <% content_for :description, "việc làm Hành chính"%>
 <%end%>
 
  <%if @ttt=='Khach-san'%>
 <% content_for :description, "việc làm Khách sạn"%>
 <%end%>
  <%if @ttt=='Hoa-hoc-Hoa-sinh'%>
  <% content_for :description, "việc làm Hóa học-Hóa sinh"%>
 <%end%>
  <%if @ttt=='Kho-van'%>
 <% content_for :description, "việc làm Kho vận"%>
 <%end%>
  <%if @ttt=='Kien-truc'%>
 <% content_for :description, "việc làm Kiến trúc"%>
 <%end%>
  <%if @ttt=='Kinh-doanh'%>
 <% content_for :description, "việc làm Kinh doanh"%>
 <%end%>
  <%if @ttt=='Ke-toan'%>
 <% content_for :description, "việc làm Kế toán"%>
 <%end%>
  <%if @ttt=='Kiem-toan'%>
 <% content_for :description, "việc làm Kiểm toán"%>
 <%end%>
  <%if @ttt=='Giao-nhan'%>
<% content_for :description, "việc làm Giao nhận"%>
 <%end%> <%if @ttt=='Marketing'%>
<% content_for :description, "việc làm Marketing"%>
 <%end%>
  <%if @ttt=='Moi-truong'%>
<% content_for :description, "việc làm Môi trường"%>
 <%end%>
  <%if @ttt=='My-thuat'%>
<% content_for :description, "việc làm Mỹ thuật"%>
 <%end%>
  <%if @ttt=='Ngan-hang'%>
<% content_for :description, "việc làm Ngân hàng"%>
 <%end%>
  <%if @ttt=='Nong-nghiep'%>
<% content_for :description, "việc làm Nông nghiệp"%>
 <%end%>
  <%if @ttt=='Nhan-su'%>
<% content_for :description, "việc làm Nhân sự"%>
 <%end%>
  <%if @ttt=='Luat-su'%>
<% content_for :description, "việc làm Luật sư "%>
 <%end%>
  <%if @ttt=='Hang-khong'%>
<% content_for :description, "việc làm Hàng không"%>
 <%end%>
  <%if @ttt=='Lao-dong-pho-thong'%>
<% content_for :description, "việc làm Lao động phổ thông"%>
 <%end%>
  <%if @ttt=='Lam-nghiep'%>
<% content_for :description, "việc làm Lâm nghiệp"%>
 <%end%>
  <%if @ttt=='Lai-xe'%>
<% content_for :description, "việc làm Lái xe"%>
 <%end%>
  <%if @ttt=='Internet-Online-Media'%>
<% content_for :description, "việc làm Internet Online Media"%>
 <%end%>
  <%if @ttt=='IT-Phan-mem'%>
<% content_for :description, "việc làm IT - Phần mềm"%>
 <%end%>
  <%if @ttt=='IT-Phan-cung-Mang'%>
<% content_for :description, "việc làm IT-Phần cứng-Mạng"%>
 <%end%>
  <%if @ttt=='O-to'%>
<% content_for :description, "việc làm Ô tô"%>
 <%end%>
  <%if @ttt=='San-Xuat-Vat-tu'%>
<% content_for :description, "việc làm Sản Xuất Vật Tư"%>
 <%end%>
  <%if @ttt=='Quang-cao'%>
<% content_for :description, "việc làm Quảng cáo"%>
 <%end%>
  <%if @ttt=='QA-QC'%>
<% content_for :description, "việc làm QA-QC"%>
 <%end%>
  <%if @ttt=='Thiet-ke'%>
<% content_for :description, "việc làm Thiết kế"%>
 <%end%>
  <%if @ttt=='Tu-van'%>
<% content_for :description, "việc làm Tư vấn"%>
 <%end%>
  <%if @ttt=='Thu-ky'%>
<% content_for :description, "việc làm Thư ký"%>
 <%end%>
  <%if @ttt=='Tai-chinh'%>
<% content_for :description, "việc làm Tài chính"%>
 <%end%>
  <%if @ttt=='Đau-tu'%>
<% content_for :description, "việc làm Đầu tư"%>
 <%end%>
  <%if @ttt=='Truyen-thong'%>
 <% content_for :description, "việc làm Truyền thông"%>
 <%end%>
  <%if @ttt=='Chung-khoan'%>
 <% content_for :description, "việc làm Chứng khoán"%>
 <%end%>

 <%if @ttt=='Tap-vu'%>
<% content_for :description, "việc làm Tạp vụ"%>
 <%end%>
 <%if @ttt=='Vien-Thong'%>
<% content_for :description, "việc làm Viễn Thông"%>
 <%end%>
 <%if @ttt=='Van-chuyen'%>
<% content_for :description, "việc làm Vận chuyển"%>
 <%end%>
 <%if @ttt=='Xay-dung'%>
<% content_for :description, "việc làm -Xây dựng"%>
 <%end%>
 <%if @ttt=='Xuat-nhap-khau'%>
<% content_for :description, "việc làm Xuất nhập khẩu"%>
 <%end%>
 <%if @ttt=='Y-te'%>
<% content_for :description, "việc làm Y tế"%>
 <%end%>
 
 <%if @ttt=='Khac'%>
<% content_for :description, "việc làm Khác"%>
 <%end%>

 <%if @ttt=='Tat-ca-nghanh-nghe'%>
 <% content_for :keywords, "việc làm Tất cả nghành nghề"%>
 <%end%>
  <%if @ttt=='An-toan-PCCC'%>
  <% content_for :keywords, "việc làm An toàn PCCC"%>
 <%end%>
  <%if @ttt=='Bao-hiem'%>
  <% content_for :keywords, "việc làm Bảo hiểm"%>
 <%end%>
  <%if @ttt=='Ban-hang'%>
  <% content_for :keywords, "việc làm Bán hàng "%>
 <%end%>
  <%if @ttt=='Dieu-hanh-Quan-ly'%>
 <% content_for :keywords, "việc làm Điều hành - Quản lý"%>
 <%end%>
  <%if @ttt=='Bao-chi'%>
  <% content_for :keywords, "việc làm Báo chí"%>
 <%end%>
  <%if @ttt=='Bao-ve'%>
  <% content_for :keywords, "việc làm Bảo vệ"%>
 <%end%>
  <%if @ttt=='Bat-đong-san'%>
  <% content_for :keywords, "việc làm Bất động sản"%>
 <%end%>
  <%if @ttt=='Bien-phien-dich'%>
  <% content_for :keywords, "việc làm Biên phiên dịch"%>
 <%end%>

  <%if @ttt=='Chung-khoan'%>
  <% content_for :keywords, "việc làm Chứng khoán"%>
 <%end%>
 
  <%if @ttt=='Co-khi'%>
  <% content_for :keywords, "việc làm Cơ khí"%>
 <%end%>
  <%if @ttt=='Cong-nghe-cao'%>
  <% content_for :keywords, "việc làm Công nghệ cao"%>
 <%end%>
  <%if @ttt=='Cong-nghe-sinh-hoc'%>
 <% content_for :keywords, "việc làm Công nghệ sinh học"%>
 <%end%>
  <%if @ttt=='Cham-soc-suc-khoe'%>
 <% content_for :keywords, "việc làm Chăm sóc sức khỏe"%>
 <%end%>
  <%if @ttt=='Dau-khi'%>
 <% content_for :keywords, "việc làm Dầu khí"%>
 <%end%>
  <%if @ttt=='Det-may'%>
  <% content_for :keywords, "việc làm Dệt may"%>
 <%end%>
  <%if @ttt=='Da-giay'%>
 <% content_for :keywords, "việc làm Da giày"%>
 <%end%>
  <%if @ttt=='Duoc-Pham'%>
 <% content_for :keywords, "việc làm Dược Phẩm"%>
 <%end%>
  <%if @ttt=='Dich-vụ-khach-hang'%>
 <% content_for :keywords, "việc làm Dịch vụ khách hàng"%>
 <%end%>
  <%if @ttt=='Du-an'%>
 <% content_for :keywords, "việc làm Dự án"%>
 <%end%>
  <%if @ttt=='Du-lich'%>
  <% content_for :keywords, "việc làm Du lịch"%>
 <%end%>
  <%if @ttt=='Dien-Dien-tu'%>
 <% content_for :keywords, "việc làm Điện-Điện tử"%>
 <%end%> <%if @ttt=='Dao-tao-Giao-duc'%>
  <% content_for :keywords, "việc làm Đào tạo - Giáo dục"%>
 <%end%>
  <%if @ttt=='Hanh-chinh'%>
 <% content_for :keywords, "việc làm Hành chính"%>
 <%end%>
 
  <%if @ttt=='Khach-san'%>
 <% content_for :keywords, "việc làm Khách sạn"%>
 <%end%>
  <%if @ttt=='Hoa-hoc-Hoa-sinh'%>
  <% content_for :keywords, "việc làm Hóa học-Hóa sinh"%>
 <%end%>
  <%if @ttt=='Kho-van'%>
 <% content_for :keywords, "việc làm Kho vận"%>
 <%end%>
  <%if @ttt=='Kien-truc'%>
 <% content_for :keywords, "việc làm Kiến trúc"%>
 <%end%>
  <%if @ttt=='Kinh-doanh'%>
 <% content_for :keywords, "việc làm Kinh doanh"%>
 <%end%>
  <%if @ttt=='Ke-toan'%>
 <% content_for :keywords, "việc làm Kế toán"%>
 <%end%>
  <%if @ttt=='Kiem-toan'%>
 <% content_for :keywords, "việc làm Kiểm toán"%>
 <%end%>
  <%if @ttt=='Giao-nhan'%>
<% content_for :keywords, "việc làm Giao nhận"%>
 <%end%> <%if @ttt=='Marketing'%>
<% content_for :keywords, "việc làm Marketing"%>
 <%end%>
  <%if @ttt=='Moi-truong'%>
<% content_for :keywords, "việc làm Môi trường"%>
 <%end%>
  <%if @ttt=='My-thuat'%>
<% content_for :keywords, "việc làm Mỹ thuật"%>
 <%end%>
  <%if @ttt=='Ngan-hang'%>
<% content_for :keywords, "việc làm Ngân hàng"%>
 <%end%>
  <%if @ttt=='Nong-nghiep'%>
<% content_for :keywords, "việc làm Nông nghiệp"%>
 <%end%>
  <%if @ttt=='Nhan-su'%>
<% content_for :keywords, "việc làm Nhân sự"%>
 <%end%>
  <%if @ttt=='Luat-su'%>
<% content_for :keywords, "việc làm Luật sư "%>
 <%end%>
  <%if @ttt=='Hang-khong'%>
<% content_for :keywords, "việc làm Hàng không"%>
 <%end%>
  <%if @ttt=='Lao-dong-pho-thong'%>
<% content_for :keywords, "việc làm Lao động phổ thông"%>
 <%end%>
  <%if @ttt=='Lam-nghiep'%>
<% content_for :keywords, "việc làm Lâm nghiệp"%>
 <%end%>
  <%if @ttt=='Lai-xe'%>
<% content_for :keywords, "việc làm Lái xe"%>
 <%end%>
  <%if @ttt=='Internet-Online-Media'%>
<% content_for :keywords, "việc làm Internet Online Media"%>
 <%end%>
  <%if @ttt=='IT-Phan-mem'%>
<% content_for :keywords, "việc làm IT - Phần mềm"%>
 <%end%>
  <%if @ttt=='IT-Phan-cung-Mang'%>
<% content_for :keywords, "việc làm IT-Phần cứng-Mạng"%>
 <%end%>
  <%if @ttt=='O-to'%>
<% content_for :keywords, "việc làm Ô tô"%>
 <%end%>
  <%if @ttt=='San-Xuat-Vat-tu'%>
<% content_for :keywords, "việc làm Sản Xuất Vật Tư"%>
 <%end%>
  <%if @ttt=='Quang-cao'%>
<% content_for :keywords, "việc làm Quảng cáo"%>
 <%end%>
  <%if @ttt=='QA-QC'%>
<% content_for :keywords, "việc làm QA-QC"%>
 <%end%>
  <%if @ttt=='Thiet-ke'%>
<% content_for :keywords, "việc làm Thiết kế"%>
 <%end%>
  <%if @ttt=='Tu-van'%>
<% content_for :keywords, "việc làm Tư vấn"%>
 <%end%>
  <%if @ttt=='Thu-ky'%>
<% content_for :keywords, "việc làm Thư ký"%>
 <%end%>
  <%if @ttt=='Tai-chinh'%>
<% content_for :keywords, "việc làm Tài chính"%>
 <%end%>
  <%if @ttt=='Đau-tu'%>
<% content_for :keywords, "việc làm Đầu tư"%>
 <%end%>
  <%if @ttt=='Truyen-thong'%>
 <% content_for :keywords, "việc làm Truyền thông"%>
 <%end%>
  <%if @ttt=='Chung-khoan'%>
 <% content_for :keywords, "việc làm Chứng khoán"%>
 <%end%>

 <%if @ttt=='Tap-vu'%>
<% content_for :keywords, "việc làm Tạp vụ"%>
 <%end%>
 <%if @ttt=='Vien-Thong'%>
<% content_for :keywords, "việc làm Viễn Thông"%>
 <%end%>
 <%if @ttt=='Van-chuyen'%>
<% content_for :keywords, "việc làm Vận chuyển"%>
 <%end%>
 <%if @ttt=='Xay-dung'%>
<% content_for :keywords, "việc làm Xây dựng"%>
 <%end%>
 <%if @ttt=='Xuat-nhap-khau'%>
<% content_for :keywords, "việc làm Xuất nhập khẩu"%>
 <%end%>
 <%if @ttt=='Y-te'%>
<% content_for :keywords, "việc làm Y tế"%>
 <%end%>
 
 <%if @ttt=='Khac'%>
<% content_for :keywords, "việc làm Khác"%>
 <%end%>
	
	
		
   

 <style>
   hr {
       border-top: 1px dotted #000000 !important;
       margin-bottom:5px !important; 
       margin-top:5px !important;
   }
   .div2{
   width: auto !important; 
   }
</style>
<div class="div2">


<b><p>VIỆC LÀM TÌM THẤY</p></b>


 
<% @vieclams.each do |vieclam|%>
 
<%=link_to vieclam.tencv, 'http://vieclamvanphong.com/viec-lam/'+vieclam.diadiemurl.to_s+'/'+vieclam.slug.to_s ,target: :_blank%></br>
<%if vieclam.idnhatuyendung=='1'%>
<%=link_to vieclam.congty, 'http://vieclamvanphong.com/home/'+vieclam.id.to_s+'/'+vieclam.tencongtyurl.to_s, target: :_blank,style: 'color:#FF6600;'%>  <hr>
<%else%>
<%=link_to vieclam.congty, 'http://vieclamvanphong.com/thong-tin-nha-tuyen-dung/'+vieclam.idnhatuyendung.to_s+'/'+vieclam.tencongtyurl.to_s,target: :_blank, style: 'color:#FF6600;'%>
    <hr>
  <% end %>


<% end %>
<%= will_paginate @vieclams, renderer: BootstrapPagination::Rails %>
</div>